<head>
<title>Smartrez</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<style>
.wrap {
 text-align: center;
}
</style>
</head>
<body>
<div class="container">
<div class="row">
<div ng-view class="col-xs-5"></div>
<div ng-view class="col-xs-7 content">
<h1>Enter Term</h1>
<form action="{% url 'smartrez:q_create' %}", method="post">
{% csrf_token %}
<input type="textbox" name="term" id="term_1"/><br><br>
</div>
</div>
<div class="row">
<div ng-view class="col-xs-4 content"></div>
<div ng-view class="col-xs-3 content">
<h3>Type:</h3>
<div class='opt'>
<input type="radio" name="type" id="all" value="all" />
<label for="#all">All</label></div>
<div class='opt'>
<input type="radio" name="type" id="photo" value = "photo"/>
<label for="#photo">Photo</label></div>
<div class='opt'>
<input type="radio" name="type" id="illustration" value= "illustration"/>
<label for="#illustration">Illustration</label></div>
<div class='opt'>
<input type="radio" name="type" id="vector" value= "vector"/>
<label for="#vector">Vector</label></div>
</div>
<div ng-view class="col-xs-3">
<input type="submit" value="Search" class="btn btn-info">
</div>
</div>
</form>
<div ng-view class="col-xs-2"></div>
</div>
</div>
</body>
<script>
$(document).ready(function(){
 $('.opt label').on('click', function(){
  $(this).parent().find("input[name='type']").prop('checked', true)
});
});
</script>
