<head>
<title>Resized Image</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
.wrap {
 text-align: center;
}
.button {
  position: absolute;
  top: 50%;
 }
</style>
</head>
<body>
<div class="wrap">
<a href="/smartrez{{MEDIA_URL}}{{query.term}}/{{editedzipname}}" download="smartrez_{{editedzipname}}"><button type="button">Download Edited</button></a>
<br>
<a href="/smartrez{{MEDIA_URL}}{{query.term}}/{{orginalzipname}}" download="smartrez_{{originalzipname}}"><button type="button">Download Original</button></a>
<br>
<a href="/smartrez/{{query.term}}/gallery_l"><button type="button">Go back to {{query.term}} gallery</button></a>
</div>
</body>
